$w: white;
$b: black;

$de: #00B7E2;
$meh: #5200D3;
$pre: #FF0062;

body {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-family: 'Roboto',sans-serif;
	font-size: 24px;
	background-color: #eee;
	height: 100vh;
	width: 100vw;
	box-shadow: 0 0 120px rgba($meh, .15) inset;
	cursor: none !important;
	* {
		cursor: none !important;
	}
}

::-webkit-scrollbar {
	display: none;
}

#cursor {
	$bounce: cubic-bezier(0.4, 0, 0.5, 1.75);
	-webkit-backdrop-filter: blur(0px);
	backdrop-filter: blur(0px);
	pointer-events: none;
	width: 16px;
	height: 16px;
	margin: -8px;
	position: fixed;
	box-sizing: content-box;
	background: transparent;
	border: 3px solid $meh;
	border-radius: 50%;
	z-index: 999;
	transition: width .2s $bounce, height .2s $bounce, margin .2s $bounce, border-color .2s, -webkit-backdrop-filter .2s, backdrop-filter .2s;
	&:after {
		content: ' ';
		font-size: 36px;
		font-weight: 900;
		line-height: 64px;
		width: 100%;
		height: 100%;
		text-align: center;
		vertical-align: middle;
		position: absolute;
		color: transparent;
		transition: color .17s, line-height .17s $bounce, font-size .17s ease;
	}
	&.hidden {
		border-width: 0px;
		margin: 0px;
		width: 0px;
		height: 0px;
	}
	&.hover {
		width: 48px;
		height: 48px;
		margin: -24px;
		&.link:after {
			content: '↗';
			line-height: 50px;
		}
	}
	&.mousedown {
		width: 32px;
		height: 32px;
		margin: -16px;
		&:after, &.link:after {
			font-size: 24px;
			line-height: 34px;
		}
	}
	&.mouseRefuse {
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		width: 44px;
		height: 44px;
		margin: -22px;
		border-color: $b !important;
		&:after {
			content: '×';
			color: $b;
			line-height: 44px;
		}
	}
}

a {
	font-weight: 700;
	transition: bottom .3s ease, background-color .3s, color .3s, letter-spacing .3s cubic-bezier(0.175, 0.885, 0.32, 1.27499), box-shadow .3s ease;
	&:hover {
		letter-spacing: .125em;
	}
	#menu &{
		letter-spacing: .175em;
		&:hover, &.active {
			letter-spacing: .35em;
		}
	}
}

i {
	font-style: italic;
}

.de {
	color: $de;
	font-weight: 700;
	text-shadow: 0 2px 4px rgba($de, .3);
}

.meh {
	color: $meh;
	font-weight: 700;
	text-shadow: 0 2px 4px rgba($meh, .3);
}

.pre {
	color: $pre;
	font-weight: 700;
	text-shadow: 0 2px 4px rgba($pre, .3);
}

svg {
	transition: fill .3s;
	height: 100%;
}

header, footer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	width:100vw;
	padding: 24px;
	box-sizing: border-box;
}

header {
	#sitelogo {
		display: flex;
		width: 200px;
		height: 36px;
		justify-content: flex-start;
	}
	#scriptStatus {
		text-align: center;
		font-size: 50%;
		font-weight: 400;
		display: block;
		height: 40px;
		#statusCont {
			display: flex;
			height: 20px;
			vertical-align: top;
			justify-content: center;
			margin-right: 18px;
			#statusGraphic {
				height: 24px;
				width: 56px;
				overflow: hidden;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
				svg {
					height: 20px;
					position: relative;
					transition: bottom .3s cubic-bezier(0.175, 0.885, 0.32, 1.27499), fill .15s;
					margin: 2px 0;
				}
			}
			#statusBase {
				position: relative;
				top: 3px;
				height: 24px;
				margin-left: 2px;
			}
		}
	}
	#menu {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 75%;
		font-weight: 900;
		letter-spacing: .1em;
		text-transform: uppercase;
		width: 182	px;
		a {
			display: inline-block;
			text-align: center;
			width: 100px;
		}
	}
}

#main {
	flex: 1;
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	overflow: hidden;
	width: 100vw;
	perspective: 500px;
	.content {
		display: flex;
		flex-direction: column;
		position: relative;
		left: 0%;
		justify-content: center;
		align-items: center;
		min-width: 100vw;
		height: 100%;
		box-sizing: border-box;
		padding: 50px;
		overflow-y: scroll;
		&#startScreen {
			line-height: 30px;
			text-align: center;
			p, i {
				max-width: 720px;
				margin: 20px 0;
			}
			button {
				margin: 12px 0;
			}
		}
		.card {
			position: relative;
			//background-color: $w;
			border-radius: 22px;
			padding: 13px;
			max-width: 720px;
			transition: box-shadow .3s;
			p {
				margin: 12px 0;
			}
			.qCount {
				font-family: monospace;
				position: relative;
				left: 4px;
				color: rgba($b, 0.4);
				font-size: 60%;
			}
			button {
				margin-top: 16px;
			}
		}
	}
}

.select {
	$ansH: 32px;
	font-weight: 700;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: 4px 0;
	height: $ansH;
	top: -2px;
	text-align: center;
	overflow: hidden;
	box-sizing: content-box;
	white-space: nowrap;
	transition: height .3s ease, margin .3s ease, border .1s ease;
	border-bottom: 3px solid $b;
	overflow: visible;
	.answer, .blank {
		position: relative;
		box-sizing: border-box;
		top: -$ansH;
		height: $ansH;
		padding: 4px 8px;
		transition: transform .17s ease, height .3s ease, background-color .3s, top .3s ease, color .3s, opacity .3s;
		border-radius: 10px;
		opacity: 0;
		&.selected {
			color: $w;
			opacity: 1;
			z-index: 4;
			&.topAns {
				top: 0px;
			}
			&.botAns {
				top: (-2*$ansH);
			}
		}
	}
	.blank {
		color: rgba(0,0,0,0);
		line-height: 18px;
		transform: scale(1);
	}
	&.open {
		height: (3*$ansH - 8px);
		.answer, .blank {
			top: 0px !important;
			z-index: 3;
			opacity: 1;
			&:hover {
				transition: height .3s ease, background-color .3s, top .3s ease, color .3s, opacity .3s;
			}
		}
		.blank {
			height: ($ansH - 8px);
			z-index: 2;
		}
	}
	&.open.selectionMade {
		.blank {
			color: rgba(0,0,0,.4);
			&:hover {
				transform: scale(1.25);
			}
		}
	}
	&.open, &.selectionMade {
		border-bottom-width: 0px;
	}
}

button {
	border-radius: 10px;
	font-weight: 600;
	cursor: pointer;
	padding: 8px 18px 8px 20px;
	color: $w;
	font-size: 60%;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: .2em;
	transition: background-color .3s, color .3s, letter-spacing .3s cubic-bezier(0.175, 0.885, 0.32, 1.27499);
	&:hover {
		letter-spacing: .4em;
	}
}

#startButton {
	font-weight: 900;
	font-size: 48px;
	color: $b;
	width: auto;
	background-color: transparent;
}

#scoreMeter {
	display: flex;
	position: relative;
	justify-content: center;

	width: 100%;
	padding: 50px 0;
	.bar {
		display: inline-block;
		position: relative;
		height: 16px;
		box-sizing: border-box;
		margin: 1px;
		border-radius: 4px;
		&:after {
			position: absolute;
			font-size: 50%;
			text-transform: uppercase;
			top: 20px;
			font-weight: 700;
		}
	}
	.deBar {
		flex-basis: 40%;
		background-color: $de;
		&:after {
			content: "Descriptivist";
			left: 0;
			color: $de;
		}
	}
	.mehBar {
		flex-basis: 20%;
		background-color: $meh;
		&:after {
			content: "meh";
			color: $meh;
			left: calc(50% - 13px);
		}
	}
	.preBar {
		flex-basis: 40%;
		background-color: $pre;
		&:after {
			content: "Prescriptivist";
			right: 0;
			color: $pre;
		}
	}
	#indicator {
		display: block;
		position: absolute;
		box-sizing: content-box;
		left: calc(50% - 8px);
		top: 30px;
		width: 0;
		height: 0;
		border: 8px solid transparent;
		border-top-width: 16px;
		border-top-color: $meh;
		border-radius: 10px;
		text-align: center;
		transition: border-top-color .5s;
		#indicatorVal {
			color: $meh;
			position: absolute;
			font-size: 80%;
			font-weight: 900;
			line-height: 19px;
			top: -36px;
			left: -25px;
			width: 50px;
			text-align: center;
			transition: color .5s;
		}
	}
}


.select:not(.selectionMade)~button, .score button.inactive {
	pointer-events: none;
	background-color: lightgray;
}

footer {
	font-size: 60%;
	font-weight: 600;
	text-align: center;
	box-sizing: border-box;
	border-bottom: 5px solid $b;
	color: #0000;
	transition: border-bottom-color .3s;
	#credits {
		display: flex;
		align-content: center;
		justify-content: center;
		position: relative;
		border-radius: 50%;
		box-shadow: 0 0 0 rgba(0,0,0,0);
		padding: 8px;
		box-sizing: border-box;
		height: 48px;
		width: 48px;
		bottom: 0px;
		margin: 0 10px;
		&:hover {
			bottom: 5px;
			box-shadow: 0 5px 25px rgba(0,0,0,.4);
		}
		svg {
			height: 32px;
		}
	}
	#GitHubPrj {
		margin-right: 108px;
	}
	#socialMedia a{
		margin: 0 8px;
	}
	&:hover {
		color: #0005;
		#twitter:hover {
			color: #1da1f2ff;
		}
		#youtube:hover {
			color: #ff0000ff;
		}
		#github:hover {
			color: #24292eff;
		}
		#twitch:hover {
			color: #a970ffff;
		}
	}
}

// switches colors for dynamic items

$types: (
	"de": $de,
	"meh": $meh,
	"pre": $pre,
);

$sD: 6px;
$cD: 3px;

@each $type, $col in $types {
	$cardOutShad: $sD $sD (2*$sD) (-$sD) rgba($col, .5);
	$cardOutHlgh: (-$sD) (-$sD) (2*$sD) (-$sD) $w;
	$cardInnShad: (-$sD/2) (-$sD/2) ($sD) (-$sD) rgba($col, .5) inset;
	$cardInnHlgh: ($sD/2) ($sD/2) ($sD) (-$sD) $w inset;
	$cardShad: $cardOutShad, $cardOutHlgh, $cardInnShad, $cardInnHlgh;
	$curOutShad: $cD $cD (2*$cD) (-$cD) rgba($col, .5);
	$curOutHlgh: (-$cD) (-$cD) (2*$cD) (-$cD) $w;
	$curInnShad: (-$cD/2) (-$cD/2) ($cD) (-$cD) rgba($col, .5) inset;
	$curInnHlgh: ($cD/2) ($cD/2) ($cD) (-$cD) $w inset;
	$curShad: $curOutShad, $curOutHlgh, $curInnShad, $curInnHlgh;
	body.status-#{$type} {
		#sitelogo.active, #sitelogo:hover, #statusGraphic, #credits {
			svg {
				fill: $col;
			}
		}
		#statusGraphic svg {
			@if $col == $pre {
				bottom: 48px;
			} @else if $col == $meh {
				bottom: 24px;
			} @else {
				bottom: 0px;
			}
		}
		#startButton:hover, a:hover, a.active, #GitHubPrj:hover, .answer, #scoreMeter>#indicator.set>#indicatorVal, #cursor.mousedown:after {
			color: rgba($col, 1.0);
			text-shadow: 0 2px 4px rgba($col, .3);
		}
		button, .selected {
			background-color: $col;
		}
		#cursor {
			border-color: $col;
		}
		footer {
			border-bottom-color: $col;
		}
		#scoreMeter>#indicator.set {
			border-top-color: $col;
		}
		.card {
			box-shadow: $cardShad;
		}
		#cursor {
			box-shadow: $curShad;
		}
		.select {
			&.open.selectionMade {
				.blank:hover {
					color: $col;
				}
			}
		}
	}
}

@media only screen and (max-width: 650px) {
	p {
		font-size: 20px;
		line-height: 27px;
	}
	i {
		font-size: 18px;
		line-height: 22px;
	}
	#main .content#startScreen {
		i, p {
			margin: 9px 0;
			font-size: 18px;
			line-height: 19px;
		}
	}
	header, footer {
		justify-content: center;
	}
	header>* {
		width: 100%;
		margin-bottom: 16px;
		&:last-child {
			margin: 0;
		}
	}
	#main .content {
		padding: 5vw;
	}
	#startButton {
		font-size: 27px;
		margin: 9px 0;
		padding: 0px;
	}
	footer {
		color: #0005;
		>* {
			width: 100%;
			margin: 8px 0 !important;
		}
	}
}

@media only screen and (max-height: 700px) {
	#main #startScreen {
		padding-top: calc(700px - 100vh);
	}
}

@media only screen and (max-height: 450px) {
	#main #startScreen {
		padding-top: calc(400px - 50vh);
	}
}
