$w: white;
$b: black;

$de: #00B7E2;
$meh: #5200D3;
$pre: #FF0062;

body{
	font-family: 'Roboto',sans-serif;
	font-size: 24px;
	display:block;
	background-color: #ddd;
	&.status-de {
		#sitelogo, #statusGraphic, #credits {
			svg {
				fill: $de;
			}
		}
		#statusGraphic svg {
			bottom: 0px;
		}
		#menu a {
			&:hover {
				color: rgba($de, 1.0);
			}
		}
		#GitHubPrj:hover {
			color: rgba($de, 1.0);
		}
	}
	&.status-meh {
		#sitelogo, #statusGraphic, #credits {
			svg {
				fill: $meh;
			}
		}
		#statusGraphic svg {
			bottom: 24px;
		}
		#menu a {
			&:hover {
				color: $meh;
			}
		}
		#GitHubPrj:hover {
			color: $meh;
		}
	}
	&.status-pre {
		#sitelogo, #statusGraphic, #credits {
			svg {
				fill: $pre;
			}
		}
		#statusGraphic svg {
			bottom: 48px;
		}
		#menu a {
			&:hover {
				color: $pre;
			}
		}
		#GitHubPrj:hover {
			color: $pre;
		}
	}
}

svg {
	transition: fill .3s;
	height: 100%;
}

header, section, footer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	width:100vw;
	padding: 24px;
	box-sizing: border-box;
}

header {
	#sitelogo {
		display: flex;
		width: 200px;
		height: 36px;
		justify-content: flex-start;
	}
	#scriptStatus {
		text-align: center;
		font-size: 50%;
		font-weight: 400;
		display: block;
		height: 40px;
		#statusCont {
			display: flex;
			height: 20px;
			vertical-align: top;
			justify-content: center;
			margin-right: 18px;
			#statusGraphic {
				height: 24px;
				width: 56px;
				overflow: hidden;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
				svg {
					height: 20px;
					position: relative;
					transition: bottom .3s cubic-bezier(0.175, 0.885, 0.32, 1.27499), fill .15s;
					margin: 2px 0;
				}
			}
			#statusBase {
				position: relative;
				top: 3px;
				height: 24px;
				margin-left: 2px;
			}
		}
	}
	#menu {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 75%;
		font-weight: 900;
		letter-spacing: .2em;
		text-transform: uppercase;
		width: 182	px;
		a {
			display: inline-block;
			text-align: center;
			width: 100px;
			color: black;
			transition: background-color .3s, color .3s, letter-spacing .3s cubic-bezier(0.175, 0.885, 0.32, 1.27499);
			&:hover {
				letter-spacing: .33em;
			}
		}
	}
}

section {
	height: calc(100vh - 184px);
	background-color: gray;
}

footer {
	font-size: 60%;
	font-weight: 600;
	color: #0000;
	text-align: center;
	a {
		transition: color .3s, box-shadow .3s ease, bottom .3s ease;
	}
	#credits {
		display: flex;
		align-content: center;
		justify-content: center;
		position: relative;
		border-radius: 50%;
		box-shadow: 0 0 0 rgba(0,0,0,0);
		padding: 8px;
		box-sizing: border-box;
		height: 48px;
		width: 48px;
		bottom: 0px;
		margin: 0 10px;
		&:hover {
			bottom: 5px;
			box-shadow: 0 5px 25px rgba(0,0,0,.4);
		}
		svg {
			height: 32px;
		}
	}
	#GitHubPrj {
		margin-right: 108px;
	}
	#socialMedia a{
		margin: 0 8px;
	}
	&:hover {
		color: #0005;
		#twitter:hover {
			color: #1da1f2ff;
		}
		#youtube:hover {
			color: #ff0000ff;
		}
		#github:hover {
			color: #24292eff;
		}
		#twitch:hover {
			color: #a970ffff;
		}
	}
}

@media screen and (max-width: 650px) {
	header, footer {
		justify-content: center;
	}
	header>* {
		width: 100%;
		margin-bottom: 16px;
		&:last-child {
			margin: 0;
		}
	}
	section {
		height: calc(100vh - 338px);
	}
	footer {
		color: #0005;
		>* {
			width: 100%;
			margin: 8px 0 !important;
		}
	}
}
